			html, body {
				height: 100%;
				margin: 0;
				padding: 0;
				font-size: 10pt;
				font-family: Arial,sans-serif;
				color: #000000;
                /* overflow-y: scroll; */
			}
			a:link, a:visited, a:hover
			{
				border: 0px;
			}
			img {
				border: 0px;
			}
			img#bg {
				position:fixed;
				top:0;
				left:0;
				width:100%;
				height:100%;
			}
			#content {
				position: relative;
				width: 900px;
				margin-left: auto;
				margin-right: auto;
				z-index:1;
			}
			
			div#content #biomech {
				position: absolute;
				right: 0px;
				top: 0px;
				z-index: 20;
			}
			
			div#content #biomech_bg {
				position: absolute;
				right: 18px;
				top: 0px;
				z-index: 19;
			}
div.clear {
	clear: both;
}			
/*********************
GLOBAL ATTRIBUTES
*********************/
div.top-left-corner, div.bottom-left-corner, div.top-right-corner, div.bottom-right-corner
{position:absolute; width:20px; height:20px; overflow:hidden;}
div.top-left-inside, div.bottom-left-inside, div.top-right-inside, div.bottom-right-inside {
position:relative; font-size:150px; font-family:arial; color:#000000; filter: alpha(opacity=60);opacity: 0.6;
 line-height: 40px;}
/*********************
SPECIFIC ATTRIBUTES
*********************/
div.top-left-corner { top:0px; left:0px; }
div.bottom-left-corner {bottom:0px; left:0px;}
div.top-right-corner {top:0px; right:0px;}
div.bottom-right-corner {bottom: 0px; right:0px;}
div.top-left-inside {left:-8px;}
div.bottom-left-inside {left:-8px; top:-17px;}
div.top-right-inside {left:-25px;}
div.bottom-right-inside {left:-25px; top:-17px;}
div.box-contents {
position: relative; 
padding: 30px; 
color:#000;
font-size: 10pt;
font-family: Arial,sans-serif;
width: 440px;
color: #ffffff;
background-image: url('/assets/gfx/semibg.png'); 
background-repeat: repeat;
}


			
			#brick_menu {
				position: absolute;
				left: -20px;
				top: -50px;
				filter:alpha(opacity=30);
                opacity: 0.3;
				
			}
			
			div#content #hopala_label
			{
				position: absolute;
				z-index: 20;
				top: 80px;
				left: 80px;
			}
			
			
			div#content #biomech2
			{
				position: absolute;
				z-index: 0;
				top: 64px;
				left: -60px;
			}
			div#content #biomech3
			{
				position: absolute;
				z-index: 7;
				top: 170px;
				left: -7px;
                display: none;
			}

			div#content #biomech4
			{
				position: absolute;
				z-index: 6;
				top: 80px;
				left: 20px;
                display: none;
			}
			
			div#content #menu 
			{
				position: absolute;
				width: 200px;
				top: 240px;
				right: 100px;
			}
			
			div#content #menu .item 
			{
				margin-bottom: 15px;
			}
			
			
			div#content #inner_content
			{
				position: absolute;
				top: 160px;
				left: 25px;
				height: 300px;
				width: 500px;
				padding: 10px;
			}
			
			div#strongalpha
			{
				z-index: 10;
				background: transparent;
			}
			
div.news-title {
	font-size: 20pt;
	margin: 0px;
}

div.news-title h3 {
 	padding: 0px;
 	margin: 0px;
} 

div.news-date {
	background-color: #171717;
	color: #ffffff;
	padding: 2px;

}

div.news-desc {
	margin-top: 5px;
	margin-bottom: 10px;
}

           div.news-desc a:link,a:visited {
               text-decoration: underline;
               color: #fff;
           }

div.news-by {
    float: right;
	font-style: italic;
}

div.news-subscribed {
	margin-bottom: 20px;
}

div.news-block
{
	margin-bottom: 20px;
}

div.news-footer {
	height: 10px;
}

div.news-date span.point {
	background-color: #A67D3D;
	color: #A67D3D;
	width: 16px;
	margin-right: 5px;
}
div.ingallery-date {
	background-color: #171717;
	color: #ffffff;
	padding: 2px;

}

div.ingallery-date span.point {
	background-color: #A67D3D;
	color: #A67D3D;
	width: 16px;
	margin-right: 5px;
}

div.event-block {
	position: relative;
	margin-bottom: 20px;
}

div.event-data {
position:absolute;
top: 0px;
left: 0px;
filter:alpha(opacity=70);
opacity: 0.7;
width: 440px;
height: 50px;
background-color: #000; 
display: none;
}

div.event-data .data span {
	font-weight: bold;
	margin-left: 5px;
} 

div.event-title {
	font-size: 15pt;
	position: absolute;
	width: 424px;
	height: 34px;
	background-color: #171717; /*  #171717 */
	bottom: 0px;
	left: 0px;
	padding: 8px;
}

div.event-title a:link, a:visited
{
	text-decoration: none;
	color: #fff;
	
}

div.gallery-block
{
	margin-bottom: 30px;
	position: relative;
}

div.gallery-block .gallery-data 
{
	position: absolute;
	padding: 10px;
	right: 0px;
	top: 0px;
	z-index: 100;
    height: 30px;
    width: 200px;
    background-color:  #171717; /*  #8E6B23*/
    
}

div.gallery-block .gallery-data  a:link, a:visited 
{
		text-decoration: none;
		color: #fff; 
}

div.gallery-block .gallery-data .gallery-title  
{
	font-weight: bold;
	text-align: right;
}

div.gallery-block .gallery-data .gallery-date  
{
	font-style:italic;
	text-align: right;	
}

div.gallery-block .gallery-data-bottom
{
    position: absolute;
	padding: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 100;
    width: 200px;
}

div.gallery-block .gallery-data-bottom .gallery-views
{
    font-weight: bold;
    text-align: right;
}

div.ingallery-title {
    	font-size: 20pt;
}

div.section-title {
   float: right;
   margin-top: 10px;
   margin-bottom: 10px;
}
/*
         div.section-title img {
             display: none;            
         }
*/
div.menu-block .menu-title {
    background-color: #171717;;
    font-weight: bold;
    padding: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.item-data {
    
}


div.item-data .item-data-title {
    float: left;
    width: 200px;
}
            div.item-data .item-data-desc {
                float: left;
                font-style:italic;
            }

 div.item-data .item-data-price
 {
    float: right;
 }

div.event-show-foto {
    position: relative;
}
div.event-show-title {
	font-size: 15pt;
    filter: alpha(opacity=70);
	opacity: 0.70;
    position: absolute;
    width: 424px;
/*	height: 34px; */
	background-color: #171717; /*  #171717 */
	top: 0px;
	left: 0px;
	padding: 8px;
}

div.event-show-full {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
div.event-show {
    background-color: #171717;
}

            div.event-show-data {
                padding: 8px;
            }

            div.event-show-data span{
                font-weight: bold;
            }
            div.event-show-desc {
                padding: 8px;
            }

#homebox {
   width: 440px; /* important to be same as image width */
   height: 100px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
}

#homeboxContent {
   width: 400px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: 0; /* important */
   left: -35px;
   margin-left: 0; /* important */
}

.homeboxImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
   margin-left: 0;
}

.homeboxImage span {
   position: absolute; /* important */
   left: 0;
   font: 10px/15px Arial, Helvetica, sans-serif;
   padding: 10px 13px;
   width: 440px;
   background-color: #000;
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff;
   display: none; /* important */
   top: 0;

   /*
       if you put
       top: 0; -> the box with text will be shown at the top of the image
       if you put
       bottom: 0; -> the box with text will be shown at the bottom of the image
   */
}

.homeboxImage span a:link,a:visited {
    text-decoration: none;
    color: #ffffff;
}

.opening-hours {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.opening-hours span {
    font-weight: bold;
    color: white;

}
